@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Mono', monospace;
    width: 100vw;

    margin: 0;
    overflow-x: hidden;
}

/* Start Header  */

header{
    height: 100vh;

    background-image: linear-gradient(
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.4)
    ),url('https://image.freepik.com/free-photo/young-couple-pose-with-hand-hand-showing-strong-arm-s-muscle-together-modern-gym_1150-47202.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: relative;

}

.line1,.line2,.line3{
    width: 23px;
    height: 3px;
    margin: 5px;

    background-color: #000;

    transition: all 0.4s;
}

.changes .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.changes .line2{
    opacity: 0;
}
.changes .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

/* start navbar  */

.navbar{
    background: rgba(65, 105, 225, 0.733);
    text-align: center;
}

.menuitems,.btn-navs{
    color: #fff;
    font-size: 16px;
    letter-spacing: 3px;
}

.menuitems:hover{
    color: rgb(219, 177, 61);
    border-bottom: 2px solid rgb(219, 177, 61);
}

.btn-navs,.btn-banners{
    letter-spacing: 3px;
    margin: 10px 30px;
    background-color: rgb(219, 177, 61);
    padding: 10px 25px;
    border-radius: 7px;
}

.btn-navs:hover,.btn-banners:hover{
    color: rgb(219, 177, 61);
    background-color: rgb(241, 241, 238);
    border: 0;
}
/* end navbar  */
/* End Header  */

/* Start Banner  */
.banners{
    width: 80%;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);
}

.bannerheaders{
    font-weight: 500;
    animation: headerani 2s;
}
.bannerparagraphs{
    animation: paraani 2s backwards;
    animation-delay: 0.5s;
}

.btn-banners{
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color: #fff;

    animation: headerani 2s backwards;
    animation-delay: 1s;
}

@keyframes headerani {
    0%{
        transform: translate(-150px);
        opacity: 0;
    }
    100%{
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes paraani {
    0%{
        transform: translate(100px);
        opacity: 0;
    }
    100%{
        transform: translate(0);
        opacity: 1;
    }
}
/* End Banner  */

/* Start Shop Section  */
.shop{
    position: relative;
}

.shop .title{
    z-index: 1;

    background-color: rgba(255, 255, 255, 0.404);

    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%);
}
.shop .container-fluid{
    width: 100vw;
    height: 100vh;

    position: relative;
}

.split{
    width: 50%;
    height: 100%;

    position: absolute;
}

.split.left{
    left: 0;

    background: url('../img/men.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.split.left::before{
    content:'';
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.3);
}
.split.right{
    right: 0;

    background: url('https://image.freepik.com/free-photo/fitness-woman-holding-bottle-water-after-workout-healthy-lifestyle-concept_1428-72.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.split.right::before{
    content:'';
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.3);
}

.split h2{
    color: blueviolet;
    background-color: rgba(255, 255, 255, 0.404);
    border-radius: 7px;
    padding: 10px;

    position: absolute;
    top: 45%;
    left: 53%;

    transform: translate(-50%);
}

.btn-shops{
    text-decoration: none;
    background-color: blueviolet;
    display: inline-block;
    color:#fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    border: 2px solid blueviolet;
    border-radius: 7px;

    padding: 1rem 1.5rem;

    position: absolute;
    top: 57%;
    left: 50%;

    transform: translate(-505);

    transition: all 0.4s;
}

.btn-shops:hover{
    background-color: rgba(255, 255, 255, 0.404);
    color: blueviolet;
}

.hover-left .left{
    width: 75%;
}
.hover-left .right{
    width: 25%;
}

.hover-left .right h2{
    font-size: 20px;
    background-color: transparent;
    padding: 0;
    left: 45%;
}

.hover-left .right .btn-shops{
    left: 28%;
}

.hover-right .right{
    width: 75%;
}
.hover-right .left{
    width: 25%;
}

.hover-right .left h2{
    font-size: 22px;
    background-color: transparent;
    padding: 0;
    left: 45%;
}
.hover-right .left .btn-shops{
    left: 28%;
}

.split.left,
.split.right,
.split.left::before,
.split.right::before{
    transition: all 1s;
}

/* End Shop Section  */

/* Start Trainer Section  */
.trainersection{
    background-color: rgba(137, 43, 226, 0.295);
    color: #222;
}

.titles{
    width: 80%;
    text-align: center;
    margin: auto;
}

.captions{
    font-size: 2.3rem;
    display: inline-block;
    padding: 15px;
    border-bottom: 4px solid #000;
    margin-bottom: 10px;
}

.trainers{
   position: relative; 
}

.trainers img{
    border-radius: 5px;
}

.trainers h4,
.trainers p{
    opacity: 0;
}

.trainers::before{
    content: '';
    width: 80%;
    height: 100%;

    border: 3px solid blueviolet;
    border-radius: 7px;

    position: absolute;
    top: -15px;
    left: 10%;

    opacity: 0;
}

.trainers.traineractive h4,
.trainers.traineractive p,
.trainers.traineractive::before{
    opacity: 1;
}

/* End Trainer Section  */

/* Start Aboutus Section  */
.aboutussection{
    background-color: rgba(199, 75, 75, 0.322);
}
.aboutuspara{
    width: 70%;
    margin: auto;
}
.gallerylists{
    color: #777;
    letter-spacing: 1px;
    cursor: pointer;
}
.gallerylists.activeitems{
    color: rgb(219, 177, 61);
}

.galleryboxes{
    transition: all 0.3s;
}
/* End Aboutus Section  */

/* Start Pricing Section  */
.pricingsection{
    background-color: rgba(125, 150, 231, 0.849);
}
.toggle-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-container > *{
    margin: 0 3px;
}

.toggle{
    visibility: hidden;
}

.slider{
    width: 40px;
    height: 20px;
    background-color: #d0d0d0;
    border-radius: 50px;

    margin: 0 15px;
    cursor: pointer;

    position: relative;
}

.toggle:checked + .slider{
    background-color:rgb(219, 177, 61);
} 

.ball{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #fff;

    position: absolute;
    top: 3px;
    left: 3px;

    animation: offani 0.3s linear forwards;
}

.toggle:checked + .slider .ball{
    animation: onani 0.3s linear forwards;
}

@keyframes onani {
    0%{
        transform: translate(0) scale(1);
    }
    50%{
        transform: translate(10px) scale(1.2);
    }
    100%{
        transform: translate(20px) scale(1);
    }
}

@keyframes offani {
    0%{
        transform: translate(20px) scale(1);
    }
    50%{
        transform: translate(10px) scale(1.2);
    }
    0%{
        transform: translate(0) scale(1);
    }
}

.price-box{
    width: 22rem;
    background-color: silver;
    border: 1px solid #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);

    padding:1.5rem;

    padding-bottom: 2rem;

    margin: 3rem 1.5rem;

    overflow: hidden;
}

.box p{
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 0.7rem;
}

.box h5 span{
    font-size: 1.5rem;
    vertical-align: middle;
}
.vippara{
    font-size: 2.2rem;
}
.box h5 .vip{
    font-size: 2.5rem;
}

.price-list{
    position: relative;
}

.price-list ul{
    list-style: none;
    margin-bottom: 3.5rem;
    padding: 0;
}

.price-list ul li{
    font-size: 1rem;
    padding: 0.8rem 0;
    border-top: 1px solid #eee;
}

.price-list ul li:last-child{
    border-bottom: 1px solid #eee;
}

.price-list a{
    text-decoration: none;
    background-color: rgb(219, 177, 61);
    color: #fff;
    font-size: 1.3rem;
    padding: 0.8rem 1.2rem;
    border-radius: 5px;

    position: absolute;
    top: 107%;
    left: 50%;
    transform: translate(-50%);

    transition: all 0.3s ease;
}

.price-list a:hover{
    font-size: 1.3rem;
}

.price-box:nth-of-type(2){
    transform: scale(1.1);
}

/* End Pricing Section  */

/* Start Contact Section  */
.contactsection .container-fluid{
    color: #fff;
    background-color: thistle;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-box{
    width: 65%;
    font-size: 1.2rem;
    margin: auto;
    padding: 30px 50px;
    border: 3px solid #222;
    border-radius: 10px;
    margin-bottom: 30px;

    position: relative;
}
.contactparas{
    width: 80%;
}
.social-medias{
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
}

.contacts{
    width: 80%;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;
}

.fab{
    margin-right: 25px;
}
.fab:hover{
    color: #fff;
}
.fa-instagram{
    color: red;
}
.fa-viber{
    color: blueviolet;
}
.fa-whatsapp{
    color: rgb(34, 221, 34);
}

.contactforms{
    border:3px solid #222;
    border-radius: 10px;
    padding: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group-text{
    background-color: rgb(219, 177, 61);
    color: #fff;
}
.contact-btns{
    text-decoration: none;
    color: #fff;
    background-color: rgb(219, 177, 61);
    padding: 10px 25px;
    border-radius: 7px;
}

.contact-btns:hover{
    color: rgb(219, 177, 61);
    background-color: rgb(241, 241, 238);
    border: 0;
}

.locations{
    width: 550px;
    height: 400px;
    background-color: slateblue;
    border-radius: 10px;
    overflow: hidden;

   display: flex;
   justify-content: center;
   align-items: center;
}
iframe{
   transform: scale(1.1);
}

/* End Contact Section  */

/* Start Footer  */
footer{
    background-color: #333;
}
.menus{

    list-style: none;
    
    margin: 0;
    padding: 0;

    display: flex;
}
.menus li span{
    color: rgb(219, 177, 61);
    font-size: 25px;
    font-weight: 500;
}

.footermenus{
    text-decoration: none;
    margin: 0 20px;
    color: #fff;
    font-size: 19px;

    line-height: 50px;
}

.footermenus:hover,
.fab:hover{
    color: rgb(219, 177, 61);
}

footer .fab{
    line-height: 50px;
    color: #fff;
}

/* End Footer  */

/* Start Modal  */
.membermodal{
    width: 45%;
    height: 84vh;
    border: 2px solid #000;
    border-radius: 10px;

    position: fixed;
    top: 13.5%;
    left: 50%;

    transform: translate(-50%);

    z-index: 3;

}
.hide{
    opacity: 0;
}
.btnclose,
.btnclosee{
    background-color: transparent;
    color: #000;
    border: 0;

    position: absolute;
    top: 15px;
    right: 15px;
}
.btnapply{
    background-color: rgb(219, 177, 61);
    color: #fff;
    font-size: 17px;
    border: 0;
    padding: 10px 25px;
    border-radius: 5px;
}
label{
    display: block;
    margin-bottom: 5px;
}

.items{
    height: 460px;
}
.firstoptions,
.lastoptions{
    width: 49%;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 4px;
}
.firstoptions:focus,
.lastoptions:focus,
.form-controls{
    outline: 0;
}
.form-controls{
    width: 100%;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 7px;
}
/* End Modal  */

/* For mobile view  */
@media (max-width:600px) {
    /* for navbar  */
    .navbar{
        background: rgb(65, 105, 225);
        text-align: center;
    }
    .menuitems{
        border-bottom: 1px solid #fff;
    }
    /* for shop  */
    .split h2{
        font-size: 20px;
    }
    .btn-shops{
        letter-spacing: 0;
        padding: 5px;
        font-size: 15px;
    }

    .hover-left .left{
        width: 100%;
    }
    .hover-left .right{
        width: 0;
    }
    
    .hover-left .right h2,
    .hover-left .right .btn-shops{
        opacity: 0;
    }

    .hover-right .right{
        width: 100%;
    }
    
    /* for price section  */
    .price-container{
        width: 70%;
        margin: auto;

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .price-box{
        width: 100%;
    }
    .price-box:nth-of-type(2){
        transform: scale(1);
    }
    /* for contact  */
    .contactparas{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .mapicons{
        opacity: 0;
    }
    /* for footer  */
    .menus{
        flex-direction: column;
    }
    .menus span{
        opacity: 0;
    }
    .social-medias{
       display: flex;
       justify-content: center;
       align-items: center;
    }
    /* for membermodal */
    .membermodal{
        width: 90%;
        height: 90vh;
    }
    .firstoptions,
    .lastoptions{
        width: 47%;
    }
    .paragraphss{
        display: none;
    }
}


.thankletter{
    height: 83vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fa-check-circle{
    font-size: 150px;
    color: #999;
    margin-bottom: 30px;
}

.thankletter p{
    font-size: 20px;
    color: #999;
}

.btnclosee{
    color: #999;
}
